body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}


.auth-box {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}


h1 {
    color: #333;
}


.btn-delete {
    padding: 6px 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
}

.btn-delete:hover {
    background-color: #c0392b;
}



.message-box {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
}

.message-box h3 {
    margin-top: 0;
    color: #333;
}

.message-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
}

.message-box button {
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.message-box button:hover {
    background-color: #2980b9;
}


.msg-success {
    color: #166534;
    background: #e7f8ee;
    border: 1px solid #b9ebcc;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.msg-error {
    color: #b30000;
    background: #ffe6e6;
    border: 1px solid #ffb3b3;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}




table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}


.no-data {
    color: #777;
}
