
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.auth-box {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}


h1 {
    color: #333;
}


.auth-success {
    background: #e7f8ee;
    border: 1px solid #b9ebcc;
    color: #166534;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.auth-error {
    background: #ffe6e6;
    border: 1px solid #ffb3b3;
    color: #b30000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.btn-submit {
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #2980b9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}


.btn-delete {
    padding: 6px 12px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c0392b;
}


.btn-logout {
    padding: 8px 16px;
    background-color: #f31212; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-logout:hover {
    background-color: #d30000; 
}


.no-data {
    color: #777;
}
